<launch>
  <master auto="start"/>

  <include file="$(find openni_launch)/launch/openni.launch"/>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
      <remap from="camera_info" to="/camera/depth/camera_info"/>
      <remap from="image" to="/camera/depth/image"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" args="0.1 0 0 0 0 0 map odom 100" name="tf_1" />
  <node pkg="tf" type="static_transform_publisher" args="0.1 0 0 0 0 0 odom base_link 100" name="tf_3" />
  <node pkg="tf" type="static_transform_publisher" args="0.1 0 0 0 0 0 base_link camera_link 100" name="tf_2" />

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_node"  output="screen"/>

  <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" name="rosserial_node" output="screen"/>

  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <remap from="scan" to="/scan"/>
  </node>

  <!--Add odometry publishing node-->
  <!--Insure that's working-->
  <param name="ticks_meter" value="50"/>
  <param name="base_width" value="0.245"/>

  <node pkg="kinect_bot_drive" name="diff_tf" type="diff_tf.py" output="screen">
    <param name="encoder_min" value="32768"/>
    <param name="encoder_max" value="-32768"/>
  </node>

  <node pkg="kinect_bot_drive" name="l_pid_velocity" type="pid_velocity.py" output="screen">
    <remap from="wheel" to="/lwheel"/>
    <remap from="motor_cmd" to="/l_motor_cmd"/>
    <remap from="wheel_vtarget" to="/lwheel_vtarget"/>
  </node>

  <node pkg="kinect_bot_drive" name="r_pid_velocity" type="pid_velocity.py" output="screen">
    <remap from="wheel" to="/rwheel"/>
    <remap from="motor_cmd" to="/r_motor_cmd"/>
    <remap from="wheel_vtarget" to="/rwheel_vtarget"/>
  </node>

  <node pkg="kinect_bot_drive" name="twist_to_motors" type="twist_to_motors.py" output="screen">
    <remap from="twist" to="/cmd_vel"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz"/>

</launch>
